body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}
.unaclase div img{
    display: flex;
    justify-items: auto;
    max-height: 770px;
    
}
.facumid{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #0e93a0;
}
.facumid h2 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 1em;
}
